<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <style>
        body {background-color: powderred}
        
        h1 {font: red font-size: 24 px}
        h2 {font: red; font-size: 16 px}
        p {color: black}
    </style>

    <title>{{ title }}</title>
</head>

<body>
    <h2>{{ error_res }}エラー</h2>
    <h1> Webサイトにアクセスできません。</h1></span>

    <br><h2>以下、解決方法の一覧をまとめましたので、恐れ入りますがご参照いただけると幸いです。</br>
    <p>
        <ul>
            <li><h4>URLをもう一度お確かめください。</h4></li>
            <li><h4>サーバー側の問題のため、少々お待ちいただいてから再度アクセスしていただく</h4></li>
        </ul>
    </p>

</body>
</html>