
{% extends "showa_anime/dunbine.html" %}


{% block block_dunbine%}

    <br><img src="static/images/showa_anime/aura_butler_dunbine.jpg" ></br>

<p><h2 class="explaination"> 下記、解説 </h2></p>

<h4> 
    聖戦士ダンバインは、昭和時代を代表する異世界転生物のロボットアニメである。
    <p>この時代において、少数ではあるが、魔法戦士(マジックナイト)レイアースといった異世界転生物アニメは存在していたものの、</p>

    <p>この作品のようにロボット同士の戦闘に重視し、国対国の勢力争い、現実世界への帰還、および異世界と現実世界の行き来とその動乱を
    描いた作品は稀有であろう。</p></p>
    

    <br>本作品に登場するオーラバトラーと呼称されるロボットは、昆虫をモデルとした外観をしており、
    <p>子ども受けするとは考えにくい、攻めたデザインをしていた点も本作がオリジナリティにあふれる作品であり、
    異世界転生物の元祖という立ち位置を確固たるものとした所以である。
    <p>また、地球人の生体エネルギーであるオーラ力(ちから)を用いて初めて真価を発揮する設定となっている。</p></p></br>
    
    
    <p>下記におおまかな物語のあらすじを記載した。</p>
    ------------------------------------------

    <div class="abstract">
    <p>物語は、ショウ・ザマという日本人が高速道路をバイクで走行中に、突如としてバイストンウェルという異世界に飛ばされるところから始まる。</p>
    
    <img src="static/images/showa_anime/Sho_Zama.jpg" height="200em">
    <br> 本作品の主人公、<font color="red"><link href="https://ja.wikipedia.org/wiki/%E3%82%B7%E3%83%A7%E3%82%A6%E3%83%BB%E3%82%B6%E3%83%9E">ショウ・ザマ</br></font></link>

    <br>ショウ・ザマを召喚したのは、<font color="red">ドレイク</font>というアメリカ人が率いる国であった。</br>
    
    また、召喚された中には、アメリカ人のトッド・ギネスを含む地球人がいた。
    <br>異世界に召喚された理由や、元の世界に帰る方法など状況を整理したところ、下記のことが判明した。</br>
    
    <ul>
        <li>オーラ力の強い地球人に、オーラバトラーを操ってもらうことで敵対勢力を排除してもらうために、ショウ・ザマを含めた地球人を召喚したこと。</li>
        <li>元の世界に帰るには、自分たちのために戦ってもらう必要がある。</li>
    </ul>


    <br>
    ショウ・ザマにはダンバインと呼ばれるオーラバトラーをあてがわれ、ドレイク軍側で敵軍と戦うこととなった。
    <p>そんな中、初陣を経験することととなり、その際に敵軍の<font color="red">マーベル</font></link>という女戦士に説得を受ける。</p>
    </br>
    
    <p>ドレイクが何をやっているか、知っていて、手を貸しているのか? と。</p>

    <br>
    初陣を辛くも生還したのち、マリベルの話したことを考え、ドレイク側のやっていることを詳しく調査し始めたショウ・ザマ。
    </br>

    ドレイク側がやっている非人道的な侵略行為を知ることとなり、憤りを覚えドレイク軍を離反し、マリベルが所属している反ドレイク側に就くことに決め、
    <p>ドレイク軍と戦うことを決めるのであった・・・</p>

    <br>以上が主なあらすじである。</br>

    <br>
    <div class="robot_name">
    <p>主に作中で登場するロボット名を以下、まとめた。</p>
    <ul>
        <li>ダンバイン・・・当初、主人公であるショウ・ザマが使用していたオーラバトラー</li>
        <li>ビルバイン・・・ショウ・ザマが作中でダンバインから途中でこちらに乗り換えたダンバインの強化版の立ち位置のオーラバトラー</li>
        
    </ul></div>
</br>

    <p>本作品は前述したように、ロボットアニメとして確固たる地位を確立したことから、本作品を参照した作品が多く誕生している。</p>
    <p>また、スーパーロボット大戦といったゲームにて取り上げられたことにより、昭和世代以外の10-20代の世代にも広く知られるきっかけとなった。</p>

    
</h4>
</br></div>

<p><h3> 以下、参照サイトをまとめた </h3></p>

<div class="ref">
<a href="https://dic.pixiv.net/a/%E8%81%96%E6%88%A6%E5%A3%AB%E3%83%80%E3%83%B3%E3%83%90%E3%82%A4%E3%83%B3">Wikipedia</a>

<br>
<video controls src="https://youtu.be/ywE2yTfKlbU?si=paf0-yjiX3zT1WfN">聖戦士ダンバイン OP曲 ダンバインとぶ</video>
</br>
</div>

{% endblock %}