<!--meiji_restoration.htmlを拡張-->
<!--パスはtemplates配下を自動を起点としている-->
{% extends "history_explaination/meiji_restoration.html" %}

<!--歴史解説-->

{% block history_article%}
<br>

<h2> 歴史解説 </h2>

<h4> 
    20世紀の歴史について
    ・大日本帝国時代について
    大日本帝国の成立になったきっかけとなったと考えられることを以下、まとめた。
    
    <ul>
        <li>西洋諸国に日米和親条約をはじめとする不平等条約を結ぶことを強いられたこと</li>
        <li>当時の幕府の腐敗により、天皇を頂点としたより改革的な新政権を樹立し、強国化する必要性</li>
        <li><span style="color:red">西洋諸国によるアジア各国の植民地政策、および侵略行為(アヘン戦争、東インド会社など)</span></li>
    </ul>

    <br>1854年にアメリカ合衆国のマシュー・ペリー率いる黒船が浦賀(神奈川県)に襲来したことで、
    当時の日本国民は西洋諸国の圧倒的な軍事力を目の当たりにした。</br>
    
    <br>結果、井伊直弼をはじめとする当時の江戸幕府の要職者はアメリカをはじめとする西洋諸国との間で
    日米和親条約、修好通商条約をはじめとする不平等な交易関係を結ぶことを強いられた。</br>
</h4>
</br>

<img src="static/images/history/black_ship.jpg" >

<h4>
    黒船襲来
</h4>

<img src="static/images/history/mattew_perry.jpg" >

<h4>
    マシュー・ペリー
</h4>


<h4>
    それに伴い朝廷を経由せずに条約を締結したことで、幕府への不満が高まった。

    <br>そこで、主に武装蜂起したのは、薩摩藩(現在の鹿児島県)と長州藩である。

    <br>利害関係が一致した、薩摩藩と長州藩は徳川幕府打倒(倒幕)に向けた同盟である、薩長同盟を組むこととなり、
    当時の江戸幕府を打倒するための内戦が行われることとなった。(<span style="color:red">戊辰戦争</span>)
    </br>

    <br>戊辰戦争において、薩長同盟を主軸とする尊王攘夷派の軍は幕府軍を打倒し、
    徳川幕府最後の将軍である徳川慶喜は大政奉還(1866年)にて権力の座から失脚し、新たな日本国の指導者として天皇を主軸とする統治体制に移行させた。</br>
    
    <br>明治政府樹立後に、行った活動として代表的なものが岩倉使節団の外国への派遣(1871-1873年)であろう。
    当初の目的は徳川幕府が外国との間で締結した不平等条約を撤廃することであったため、初めにアメリカ合衆国を訪問した。</br>
    
    <br>しかしながら、条約撤廃はアメリカ側に拒否されたために、当初の方針を転換し西洋諸国の訪問をすることで
    外国の政治、経済等をはじめとする学問を日本の発展のために持ち帰ることとしたのである。</br>

    <br>国会、内閣、裁判所等の成立には、ドイツ帝国のヴァイマル憲法等が参考にされた。</br>

    <br>それ以外に、欧米諸国に対抗するため、兵役の義務化(富国強兵)、欧米諸国の技術を取り入れる文明開化といった試みを行った結果、
    アジアの大国の一国としての地位を築いたのである。</br>

</h4>

{% endblock %}