<!doctype html>
<html lang="ja">

<!--CSSファイルはstatic/css/傘下に置く-->
<head>
    <meta charset="UTF-8">
    <title> 聖戦士ダンバイン</title>

    <style>
        body { background-color: lightblue}
        head { background-color: lightgreen}
        .class { font-size: 16px;}

        .url_list { 
            background-color: lightwhite;
            font-size: 16px;
        }
    </style>

    <link rel="stylesheet" href="{{url_for('static', filename='css/showa_anime_explanation.css')}}"/>

    <div class="common"> 
        <p>
            User名: "{{name}}"   
        </p> 

        <!--ブロックはblock.htmlから参照-->
        <a href="/{{name}}">ホーム画面に戻ります。</a>
    </div>
</head>


<body>
    <!--歴史解説部分-->
    {% block block_dunbine%} {% endblock %}


    <!--他ページのURLをまとめてリスト化しておく(右揃え)-->
    <br>以下、別URLの解説サイトのURL</br>

    <br>
        <div class="url_list">
            <li>
                <a href="/votoms"> 装甲機兵ボトムズ </a>
                <p><a href="/yamato"> 宇宙戦艦ヤマト </a></p>
            </li>
        </div>
    </br>

</body>
</html>